body {
  background-color: black;
}

.homepage {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
}

.homepage-buttons {
  font-size: 2em;
  height: 5em;
  line-height: 4.5em;
}
